streamlit==1.39.0
requests==2.32.5
pandas==2.3.3
plotly==5.24.1
numpy==2.3.4
scikit-learn==1.7.2
torch==2.9.1
shap==0.50.0
flask==3.1.2
flask-cors==4.0.0
flask
flask-cors
numpy
pandas
scikit-learn
torch
gunicorn
